
.jacket img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.jacket img:hover{
    opacity: 0.8;
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
}


.list-of-jackets {
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: center;
    gap: 60px;
    margin-top: 60px;
}

.jacket h2 {
    margin: auto;
}

.jacket p {
    display: inline;
}

.jacket span{
    font-weight: bold;
}

.jacket h4{
    margin: auto;
    font-size: 24px;
}

