.items-in-cart {
  display: flex;
  max-width: 895px;
  margin: auto;
}

.cart-options {
  display: flex;
  align-items: center;
  max-width: 895px;
  margin: auto;
  justify-content: space-between;
}

.cart-options > a {
  color: #1363ac;
  text-decoration: underline solid 2px;
  text-underline-position: under;
}

.cart-options a:hover {
  text-decoration: none;
}

.product-image-small {
  width: 200px;
  height: 200px;
  object-fit: cover;
  padding-right: 20px;
}
