.items-in-cart {
  display: flex;
  max-width: 895px;
  margin: auto;
}

.cart-obtions {
  display: flex;
  align-items: center;
  max-width: 895px;
  margin: auto;
  justify-content: space-between;
}

.cart-obtions > a {
  color: #1363ac;
}

.product-image-small {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
