html {
  scroll-behavior: smooth;
}

.welcome {
  background-image: url("../images/rainy-days-frontpage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center center;
  position: relative;
}

.welcome-content {
  position: absolute;
  top: 100px;
  left: 200px;
}

.welcome-content h1 {
  font-size: 48px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}
