@media (min-width: 1246px) {
  .main-nav {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav > a {
    margin-bottom: 0px;
  }

  .menu {
    display: none;
  }

  .main-nav .mobile-view {
    display: none;
  }

  .fa-search {
    color: #07275e;
    position: relative;
    left: 35px;
  }
}

@media (max-width: 1400px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }

  .grid-container h2 {
    text-align: center;
  }

  .categories {
    display: none;
  }

  .welcome-men,
  .welcome-women {
    margin-bottom: 10px;
  }

  .wrap-1 {
    justify-self: end;
  }
}

@media (max-width: 1246px) {
  .sub-nav {
    display: none;
  }

  .main-nav {
    width: 200px;
    padding: 10px;
    margin-left: 10px;
    position: absolute;
    z-index: 1000;
    display: none;
  }

  .main-nav a {
    margin-bottom: 10px;
  }

  .main-nav .search {
    padding: 14px;
    order: 1;
    width: 100%;
    margin-bottom: 10px;
  }

  .checkout-details,
  .cart-details,
  .order-details,
  .items-in-cart,
  .cart-options {
    margin-left: 20px;
    margin-right: 20px;
  }

  .fa-search {
    display: none !important;
  }

  .top {
    justify-content: center;
  }
}

@media (max-width: 1050px) {
  .welcome-content {
    top: 10px;
    left: 10px;
  }

  .welcome-content h1 {
    font-size: 40px;
  }
}

@media (max-width: 1001px) {
  .top h1 {
    display: none;
  }

  .sub-nav {
    display: none;
  }

  footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .flex-icons {
    display: flex;
    justify-content: center;
  }

  .welcome-men h1 {
    font-size: 30px;
  }

  .welcome-women h1 {
    font-size: 30px;
  }

  .product-details {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .product-details .wrap-2 {
    justify-items: center;
    text-align: center;
  }

  .about-us {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
    max-width: 500px;
    justify-content: center;
    text-align: center;
  }

  .main-nav {
    width: 200px;
    padding: 10px;
    margin-left: 10px;
    position: absolute;
    z-index: 1000;
    display: none;
  }

  .main-nav a {
    margin-bottom: 10px;
  }

  .main-nav .search {
    padding: 14px;
    order: 1;
    width: 100%;
    margin-bottom: 10px;
  }

  .checkout-details,
  .cart-details,
  .order-details,
  .items-in-cart,
  .cart-options {
    margin-left: 20px;
    margin-right: 20px;
  }

  .empty,
  .cart-details p {
    font-size: 16px;
  }

  .contact {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    padding-right: 10px;
  }

  .contact-info {
    text-align: center;
  }

  .contact-form .button {
    align-self: center;
  }

  .contact h1 {
    text-align: center;
  }
}

@media (max-width: 800px) {
  .confirmation-container {
    width: 500px;
    height: 700px;
  }
}

@media (max-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .grid-container-women,
  .grid-container-men {
    row-gap: 0px;
  }

  .welcome {
    min-height: 50vh;
  }

  .wrap-1,
  .wrap-2 {
    justify-self: center;
  }

  .wrap-2 .add {
    margin-right: 10px;
  }

  .wrap-2 .add,
  .checkout {
    margin-bottom: 10px;
  }
}

@media (max-width: 650px) {
  .welcome-content h1 {
    font-size: 26px;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button {
    margin-bottom: 10px;
  }
  .about-us img {
    max-width: 250px;
  }

  .contact-info {
    align-items: center;
  }

  .checkout-details {
    grid-template-columns: 1fr;
  }

  .continue {
    justify-self: start;
  }

  .cart-options {
    display: grid;
    grid-template-columns: 3fr 4fr;
  }

  .cart-options a {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (max-width: 510px) {
  .confirmation-container {
    width: 300px;
    height: 450px;
    margin-top: 30px;
  }

  .confirmation-message {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .confirmation-message h1,
  h2,
  h3 {
    font-size: 20px;
  }

  .go-home {
    width: 150px;
  }

  .product-image-large {
    width: 450px;
  }

  .thumbnail {
    width: 100px;
    height: auto;
  }
}

@media (max-width: 450px) {
  .product-image {
    width: 280px;
    height: 280px;
  }

  ul {
    padding-left: 0px;
  }

  header img {
    max-width: 180px;
    height: 100px;
    padding-right: 0px;
  }

  .product-image-small {
    width: 100px;
    height: 100px;
  }

  .checkout-details h1,
  .cart-details h1 {
    font-size: 48px;
  }

  .order-details {
    grid-template-columns: 1fr;
  }

  .pay {
    justify-self: start;
  }

  .cart-options {
    font-size: 13px;
  }

  .currently-empty {
    font-size: 16px;
  }

  .product-image-large {
    max-width: 250px;
    height: 250px;
  }

  .product-details p {
    font-size: 16px;
  }

  .thumbnail {
    width: 60px;
    height: 60px;
  }
}
