.product-image-large {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.product-details {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  max-width: 1000px;
  margin: auto;
}

.product-details h1 {
  font-size: 32px;
  grid-column: -1/1;
}

.product-details span {
  font-size: 32px;
  font-weight: bold;
}

.product-details p {
  font-size: 24px;
}

.thumbnail {
  width: 120px;
  height: 120px;
  display: block;
  object-fit: cover;
  cursor: pointer;
}

.thumbnail:hover {
  opacity: 0.8;
}

.thumbnail_container {
  display: flex;
  justify-content: space-between;
}

.backward-icon {
  color: #07275e;
  position: absolute;
  padding-left: 10px;
  padding-top: 10px;
  cursor: pointer;
}

.forward-icon {
  position: absolute;
  color: #07275e;
  padding-top: 10px;
  margin-left: -40px;
  cursor: pointer;
}
