/*Styling color and fonts of body*/
body {
  background-color: #d8dfe9;
  font-family: montserrat, arial, sans-serif;
  margin: 0px;
}

h1,
h2,
h3,
h4 {
  font-family: teko, georgia, serif;
  color: #07275e;
}

h1 {
  font-size: 68px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

p {
  color: #07275e;
}
/*Styling color and fonts of body*/

/*Styling header*/
header img {
  max-width: 260px;
  height: 140px;
  margin: 15px 0px 20px 10px;
}

.sub-nav a {
  text-decoration: none;
  color: #07275e;
  font-weight: bold;
}

.sub-nav li {
  display: inline-block;
  padding: 10px;
}

.sub-nav a:hover {
  color: #2373bc;
}

a.current {
  text-decoration: underline;
}

.top {
  display: flex;
  justify-content: space-between;
}

.main-nav {
  display: flex;
  flex-direction: column;
  background-color: #ea580e;
}

.main-nav a {
  display: inline-block;
  width: 150px;
  text-align: center;
  padding: 14px 24px;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  border-color: #07275e;
  background-color: #07275e;
  font-weight: bold;
  font-size: 12px;
}

.main-nav a:hover {
  background-color: #1363ac;
}

.active:visited {
  background-color: #1363ac;
}

.main-nav .search {
  padding: 14px 120px;
  border-radius: 50px;
  border: none;
  text-align: center;
}

#menu {
  display: none;
}

.menu {
  font-size: 20px;
  font-weight: bold;
  color: #07275e;
  margin-left: 10px;
  cursor: pointer;
}

#menu:checked ~ .main-nav {
  display: flex;
}
/*Styling header*/

/*Button style*/
.button {
  display: inline-block;
  width: 150px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  border-color: #07275e;
  padding: 14px 24px;
  background-color: #07275e;
  font-weight: bold;
  font-size: 12px;
}
.button:hover {
  background-color: #1363ac;
}

.checkout:hover {
  cursor: pointer;
  background-color: #1363ac;
}

.add:hover {
  cursor: pointer;
  background-color: #1363ac;
}
/*Button style*/

/*Sections*/
.product-image {
  object-fit: cover;
  width: 400px;
  height: 400px;
}

.price {
  font-size: 32px;
  font-weight: bold;
}

.wrap-2 button,
.checkout {
  background-color: #c4321c;
  color: #fff;
  display: inline-block;
  width: 125px;
  padding: 14px 24px;
  border-radius: 50px;
  border-style: none;
}

button a {
  text-decoration: none;
  color: #fff;
}

.grid-container {
  max-width: 1980px;
  margin-left: 10px;
  margin-right: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
}

.wrap-1 {
  max-width: 400px;
}

.grid-container h2 {
  grid-column: -1/1;
}

.wrap-2 {
  max-width: 400px;
  display: grid;
  grid-template-columns: auto auto;
  align-content: space-between;
  padding-top: 14px;
}

.wrap-2 div,
.wrap-2 p {
  grid-column: 1 / span 2;
}

.wrap-2 button:nth-of-type(1) {
  grid-column: 1;
}

.wrap-2 button:nth-of-type(2) {
  grid-column: 2;
}

.size,
.size:before,
.size:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #07275e;
}

select {
  color: #c4321c;
}
/*Sections*/

/*Womens & mens page*/
.categories img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
/*Womens & mens page*/

/*Cart & Checkout*/
.cart-details p {
  font-size: 24px;
}

.cart-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  max-width: 895px;
  margin: auto;
}

.cart-details h1 {
  grid-column: -1/1;
}

.cart-details p:nth-of-type(2) {
  justify-self: end;
}

.cart-details p:nth-of-type(4) {
  justify-self: end;
}

.cart-details p:nth-of-type(6) {
  justify-self: end;
}

.cart-details p:nth-of-type(8) {
  justify-self: end;
}
/*Cart & Checkout*/

/*Icons*/
.fa-home,
.fa-envelope,
.fa-info-circle,
.fa-phone,
.fa-map-marker-alt,
.fa-trash-alt {
  color: #07275e;
  padding-right: 3px;
}

.fa-shopping-cart {
  color: white;
  padding-right: 10px;
}

.fa-arrow-down {
  padding-left: 10px;
}

.fa-facebook-square,
.fa-instagram,
.fa-linkedin {
  color: #07275e;
  padding-right: 26px;
}
/*Icons*/

/*Styling footer*/
footer {
  margin-top: 10px;
}

footer {
  background-color: #6e8badcc;
  padding: 0px 10px 0px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.contact-details {
  display: grid;
  align-content: space-around;
  justify-self: center;
}

.follow {
  justify-self: end;
}

.flex-icons {
  display: flex;
  justify-content: flex-start;
}

footer img {
  width: 150px;
  height: 150px;
}

.location,
.contact-visit,
.follow p {
  font-size: 18px;
  font-weight: bold;
}
/*Styling footer*/
