/*Styling color and fonts of body*/
body {
  background-color: #d8dfe9;
  font-family: montserrat, arial, sans-serif;
  margin: 0px;
}

h1,
h2,
h3,
h4 {
  font-family: teko, georgia, serif;
  color: #07275e;
}

h1 {
  font-size: 88px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

p {
  color: #07275e;
}
/*Styling color and fonts of body*/

/*Styling header*/
header img {
  max-width: 260px;
  height: 140px;
  padding: 15px;
}

.sub-nav {
  display: none;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ .sub-nav {
  display: block;
}

.hamburger-menu {
  position: absolute;
  top: 10px;
  right: 20px;
}

.sub-nav a {
  text-decoration: none;
  color: #07275e;
  font-weight: bold;
}

.sub-nav li {
  display: block;
  padding: 10px;
}

.sub-nav a:hover {
  color: #2373bc;
}

.sub-nav a.current {
  text-decoration: underline;
}

.top {
  display: flex;
  justify-content: space-between;
}

.main-nav {
  display: flex;
  flex-direction: column;
}

.main-nav > a {
  margin-bottom: 10px;
}

.main-nav a {
  display: inline-block;
  width: 150px;
  text-align: center;
  padding: 14px 24px;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  border-color: #07275e;
  background-color: #07275e;
  font-weight: bold;
  font-size: 12px;
}

.main-nav a:hover {
  background-color: #2373bc;
}

.mens:visited {
  background-color: #2373bc;
}

.womens:visited {
  background-color: #2373bc;
}

.main-nav .search {
  max-width: 100px;
  padding: 14px 120px;
  border-radius: 50px;
  border: none;
}

.main-nav {
  display: none;
}

#menu {
  display: none;
}

.menu {
  font-size: 20px;
  font-weight: bold;
}

#menu:checked ~ .main-nav {
  display: flex;
}

/*Styling header*/

/*Styling homepage*/
.welcome {
  background-image: url("../images/rainy-days-frontpage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center center;
  position: relative;
}

.welcome-content {
  position: absolute;
  top: 100px;
  left: 200px;
}

.welcome-content h2 {
  font-size: 48px;
}

.button {
  display: inline-block;
  width: 150px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  border-color: #07275e;
  padding: 14px 24px;
  background-color: #07275e;
  font-weight: bold;
  font-size: 12px;
}
.button:hover {
  background-color: #2373bc;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

/*Sections*/
.product-image {
  object-fit: cover;
  width: 400px;
  height: 400px;
}

.price {
  font-size: 32px;
  font-weight: bold;
}

.wrap-2 button,
.checkout {
  background-color: #ea580e;
  color: #fff;
  display: inline-block;
  width: 125px;
  padding: 14px 24px;
  border-radius: 50px;
  border-style: none;
}

button a {
  text-decoration: none;
  color: #fff;
}

.grid-container {
  max-width: 1980px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
}

.wrap-1 {
  max-width: 400px;
}

.grid-container h2 {
  grid-column: -1/1;
}

.wrap-2 {
  max-width: 400px;
  display: grid;
  grid-template-columns: auto auto;
  align-content: space-between;
  padding-top: 14px;
}

.wrap-2 div,
.wrap-2 p {
  grid-column: 1 / span 2;
}

.wrap-2 button:nth-of-type(1) {
  grid-column: 1;
}

.wrap-2 button:nth-of-type(2) {
  grid-column: 2;
}

.size,
.size:before,
.size:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Sections*/

/* Contact page */
.contact input,
textarea {
  border: 1px solid #07275e;
  padding: 10px;
  margin-left: 10px;
}

textarea {
  height: 100px;
}

label {
  margin-left: 10px;
  color: #07275e;
}

.contact {
  display: flex;
}

.contact-form > * {
  display: flex;
  flex-direction: column;
}

.contact > * {
  flex: 1;
}

.contact-info {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.contact-info p {
  font-weight: bold;
  max-width: 460px;
}

.contact-form .button {
  margin-top: 10px;
}

/*About*/
.about-us {
  display: flex;
}

.about-us img {
  width: 500px;
  height: auto;
}

/*Womens & mens page*/
.welcome-women {
  background-image: url("../images/womens-jackets.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
}

.welcome-women h1 {
  margin-top: 0px;
  padding-right: 20px;
  float: right;
}

.welcome-men {
  background-image: url("../images/mens-jackets.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
}

.categories img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.welcome-men h1 {
  margin-top: 0px;
  margin-right: 20px;
  float: right;
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*Womens & mens page*/

/*Cart*/
.cart-details p {
  font-size: 24px;
}

.cart-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  max-width: 895px;
  margin: auto;
}

.cart-details p:nth-of-type(2) {
  justify-self: end;
}

.cart-details p:nth-of-type(4) {
  justify-self: end;
}

.items-in-cart {
  display: inline grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
}

.cart-obtions {
  display: flex;
  align-items: center;
}

.cart-obtions > a {
  margin-left: 30px;
  margin-right: 30px;
}

.cart-obtions > button {
  margin-left: 10px;
}

.product-image-small {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/*Cart*/

/*Checkout*/

.checkout-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  max-width: 895px;
  margin: auto;
}

.checkout-details h1 {
  grid-column: -1/1;
}

.empty {
  font-size: 30px;
}

.continue {
  color: #2373bc;
  justify-self: end;
}

.order-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 895px;
  margin: auto;
}

.order-details h4 {
  grid-column: -1/1;
}

.cards {
  margin-bottom: 30px;
}

.pay {
  justify-self: end;
}

/*Product page*/
.product-image-large {
  width: 600px;
  height: 600px;
  object-fit: cover;
}

.product-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-details h1 {
  font-size: 32px;
  grid-column: -1/1;
}

.product-details span {
  font-size: 32px;
  font-weight: bold;
}

.product-details p {
  font-size: 24px;
}
/*Product page*/

/*Icons*/
.fa-home,
.fa-envelope,
.fa-info-circle,
.fa-phone,
.fa-map-marker-alt,
.fa-trash-alt {
  color: #07275e;
  padding-right: 3px;
}

.fa-shopping-cart {
  color: white;
  padding-right: 10px;
}

.fa-arrow-down {
  padding-left: 10px;
}

.fa-facebook-square,
.fa-instagram,
.fa-linkedin {
  color: #07275e;
  padding-right: 26px;
}
/*Icons*/

/*Styling footer*/

footer {
  margin-top: 10px;
}

footer {
  background-color: #6e8bad;
  padding: 0px 10px 0px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.contact-details {
  display: grid;
  align-content: space-around;
  justify-self: center;
}

.follow {
  justify-self: end;
}

.flex-icons {
  display: flex;
  justify-content: flex-start;
}

footer img {
  width: 150px;
  height: 150px;
}

.location,
.contact-visit,
.follow p {
  font-size: 18px;
  font-weight: bold;
}

/*Media queries*/

@media (min-width: 1000px) {
  .main-nav {
    background-color: #ea580e;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav > a {
    margin-bottom: 0px;
  }

  .menu {
    display: none;
  }

  .main-nav .mobile-view {
    display: none;
  }
}

@media (min-width: 700px) {
  .sub-nav {
    display: inline-block;
  }

  .sub-nav li {
    display: inline-block;
  }

  .hamburger-menu {
    display: none;
  }
}

@media (max-width: 1400px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }

  .categories {
    display: none;
  }

  .wrap-1 {
    justify-self: end;
  }

  #new-arrivals,
  #best-sellers {
    text-align: center;
  }
}

@media (max-width: 1050px) {
  .welcome-content {
    position: absolute;
    top: 10px;
    left: 20px;
  }

  .welcome-content h2 {
    font-size: 40px;
  }
}

@media (max-width: 1000px) {
  footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .flex-icons {
    display: flex;
    justify-content: center;
  }

  .welcome-men h1 {
    font-size: 30px;
  }

  .welcome-women h1 {
    font-size: 30px;
  }

  .product-details {
    display: grid;
    grid-template-columns: 1fr;
  }

  .product-image-large {
    width: 100%;
    height: auto;
  }

  .about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search {
    order: 1;
  }

  .main-nav {
    background-color: #ea580e;
    width: 280px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
  }

  .checkout-details,
  .cart-details,
  .order-details {
    margin-left: 20px;
    margin-right: 20px;
  }

  .empty,
  .cart-details p {
    font-size: 18px;
  }
}

@media (max-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .welcome {
    min-height: 50vh;
  }

  .cart-obtions {
    display: grid;
    grid-template-columns: 2fr 3fr;
  }

  .wrap-1,
  .wrap-2 {
    justify-self: center;
  }

  .wrap-2 .add {
    margin-right: 10px;
  }

  .wrap-2 .add,
  .checkout {
    margin-bottom: 10px;
  }
}

@media (max-width: 650px) {
  .welcome-content h2 {
    font-size: 26px;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button {
    margin-bottom: 10px;
  }
  .about-us img {
    width: 300px;
  }

  .contact {
    display: flex;
    flex-direction: column;
  }

  .contact-info {
    align-items: center;
  }

  .checkout-details {
    grid-template-columns: 1fr;
  }

  .continue {
    justify-self: start;
  }
}

@media (max-width: 450px) {
  .product-image {
    width: 300px;
    height: 300px;
  }

  ul {
    padding-left: 0px;
  }

  header img {
    max-width: 180px;
    height: 100px;
    padding-right: 0px;
  }

  .product-image-small {
    width: 100px;
    height: 100px;
  }

  .checkout-details h1 {
    font-size: 48px;
  }

  .order-details {
    grid-template-columns: 1fr;
  }

  .pay {
    justify-self: start;
  }
}
