/*Styling color and fonts of body*/
body {
  background-color: #d8dfe9;
  font-family: montserrat, arial, sans-serif;
  margin: 0px;
}

h1,
h2,
h3 {
  font-family: teko, georgia, serif;
  color: #07275e;
}

h1 {
  font-size: 88px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

p {
  color: #07275e;
}
/*Styling color and fonts of body*/

/*Styling header*/
header img {
  max-width: 260px;
  height: 140px;
  padding: 15px;
}

.sub-nav a {
  text-decoration: none;
  color: #07275e;
  font-weight: bold;
}

.sub-nav li {
  display: inline-block;
  padding: 10px;
}

.sub-nav a:hover {
  color: #2373bc;
}

.sub-nav a.current {
  text-decoration: underline;
}

.top {
  display: flex;
  justify-content: space-between;
}

.main-nav {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.main-nav a {
  display: inline-block;
  width: 150px;
  text-align: center;
  padding: 14px 24px;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  border-color: #07275e;
  background-color: #07275e;
  font-weight: bold;
  font-size: 12px;
}

.main-nav a:hover {
  background-color: #2373bc;
}

.mens:visited {
  background-color: #2373bc;
}

.womens:visited {
  background-color: #2373bc;
}

.main-nav .search {
  padding: 14px 120px;
  border-radius: 50px;
  border: none;
}

.main-nav {
  display: none;
}

#menu {
  display: none;
}

#menu:checked ~ .main-nav {
  display: block;
}

/*Styling header*/

/*Styling homepage*/
.welcome {
  background-image: url("../images/rainy-days-frontpage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 110vh;
  position: relative;
}

.welcome-content {
  position: absolute;
  top: 100px;
  left: 200px;
}

.welcome_content h2 {
  font-size: 48px;
}

.button {
  display: inline-block;
  width: 150px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  border-color: #07275e;
  padding: 14px 24px;
  background-color: #07275e;
  font-weight: bold;
  font-size: 12px;
}
.button:hover {
  background-color: #2373bc;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

/*Sections*/
.product-image {
  object-fit: cover;
  width: 400px;
  height: 400px;
}

.price {
  font-size: 32px;
  font-weight: bold;
}

#size {
  color: #07275e;
}

.wrap-2 button,
.checkout {
  background-color: #ea580e;
  color: #fff;
  display: inline-block;
  width: 125px;
  padding: 14px 24px;
  border-radius: 50px;
  border-style: none;
}

button a {
  text-decoration: none;
  color: #fff;
}

.grid-container {
  max-width: 1980px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
}

.wrap-1 {
  max-width: 400px;
  justify-self: end;
}

.grid-container h2 {
  grid-column: -1/1;
}

.wrap-2 {
  max-width: 400px;
  display: grid;
  grid-template-columns: auto auto;
  align-content: space-between;
  padding-top: 14px;
}

.wrap-2 div,
.wrap-2 p {
  grid-column: 1 / span 2;
}

.wrap-2 button:nth-of-type(1) {
  grid-column: 1;
}

.wrap-2 button:nth-of-type(2) {
  grid-column: 2;
}

.size,
.size:before,
.size:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Sections*/

/* Contact page */
.contact input,
textarea {
  border: 1px solid #07275e;
  padding: 10px;
  margin-left: 10px;
}

textarea {
  height: 100px;
}

label {
  margin-left: 10px;
  color: #07275e;
}

.contact {
  display: flex;
}

.contact-form > * {
  display: flex;
  flex-direction: column;
}

.contact > * {
  flex: 1;
}

.contact-info {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.contact-info p {
  font-weight: bold;
}

/*Womens page*/
.welcome-women {
  background-image: url("../images/womens-jackets.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 110vh;
}

.welcome-women h1 {
  margin-top: 0px;
  float: right;
}

.categories img {
  object-fit: cover;
  width: 700px;
  height: 600px;
}

.categorie-image {
  display: inline-block;
}

.hiking-skiing {
  float: left;
}
/*Womens page*/

/*Mens page*/
.welcome-men {
  background-image: url("../images/mens-jackets.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 110vh;
}

.welcome-men h1 {
  margin-top: 0px;
  float: right;
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*Mens page*/

/*Cart*/
.cart-details p {
  font-size: 24px;
}

.cart-details {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.cart-item {
  justify-self: end;
}

.items-in-cart {
  display: inline grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
}

.cart-obtions {
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.product-image-small {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/*Cart*/

/*Product page*/
.product-image-large {
  width: 600px;
  height: 600px;
  object-fit: cover;
}

.product-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-details h1 {
  font-size: 32px;
  grid-column: -1/1;
}

.product-details span {
  font-size: 32px;
  font-weight: bold;
}

.product-details p {
  font-size: 24px;
}
/*Product page*/

/*Icons*/
.fa-home,
.fa-envelope,
.fa-info-circle,
.fa-phone,
.fa-map-marker-alt,
.fa-trash-alt {
  color: #07275e;
  padding-right: 3px;
}

.fa-shopping-cart {
  color: white;
  padding-right: 10px;
}

.fa-arrow-down {
  padding-left: 10px;
}

.fa-facebook-square,
.fa-instagram,
.fa-linkedin {
  color: #07275e;
  padding-left: 26px;
}
/*Icons*/

/*Styling footer*/

footer {
  margin-top: 10px;
}

footer {
  background-color: #6e8bad;
  padding: 0px 10px 0px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.contact-details {
  display: grid;
  align-content: space-around;
  justify-self: center;
}

.follow {
  justify-self: end;
}

.flex-icons {
  display: flex;
  justify-content: flex-start;
}

footer img {
  width: 150px;
  height: 150px;
}

.location,
.contact-visit,
.follow p {
  font-size: 18px;
  font-weight: bold;
}

/*Media queries*/

/* tablet version */
@media (max-width: 1350px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

/*mobile version*/
@media (max-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1000px) {
  .main-nav {
    background-color: #ea580e;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .menu {
    display: none;
  }
}
